.flightHeaderDiv{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 90%;
}

.destinationArrow{
    font-size: 55px;
    font-weight: 900;
    color: hsl(216, 45%, 66%);
}

.locationListing{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.country{
    display: flex;
}

.country img{
    margin-right: 10px;
}